html {
    background-color: hsl(55, 25%, 70%);
}

h1 {
    background-color: hsl(72, 21%, 31%);
    color: #FFFFFF;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    display: flex;
}

nav .button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    h1.logo {
       width: 200px;
            }
    }
